body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #c1e0ff;
  color: #000;
}

header {
  background: #bad4ff;
  color: #000000;
  padding: 1rem 0;
  text-align: center;
  font-size: 2rem;
}


.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0;
  background-color:#ccd6f6;
}

.logo {
  position: absolute;
  width: 500px;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}
.ball {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
}

.hero {
  position: relative;
  text-align: center;
  color: #03031b;
}

.hero img {
  border-style: hidden;
  border-radius: 50px;
  box-shadow: #000;
  width: 650px;
  height: 650px;
}

.hero .hero-text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}

.btn {
  background: #ffc76e;
  color: #000000;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

section {
  padding: 2rem;
  text-align: center;
}

.service-grid,
.team-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.team-member img {
  border-style: hidden;
  border-radius: 100px;
}

.service,
.team-member {
  font-style: italic;
  font-size: large;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: #fff;
  margin-top: 2rem;
}

.form {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  margin: 2em;
  color: #64ffda;
  font-size: 1.2em;
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ccd6f6;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #64ffda;
  font-weight: bold;
  outline: 1px solid #64ffda;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #64ffda;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.form-card1 {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  
}

.contents {
  flex: 1;
  margin-right: 20px;}

  .headers {
    text-align: left;
    margin-bottom: 20px;
  }

  .contact-info {
    text-align: left;
  }

  .form-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
  }

  

 





  





  

  
  